{% extends 'base.html' %}

{% block title %} Login - mozArt {% endblock %}

{% block content %}
	<div class="mozart-form">
	  <h2> Inicia sesión con tu nombre de usuario </h2>
		{% if form.non_field_errors %}
			{% ifnotequal form.non_field_errors.as_text|cut:"* " "$message" %}
			<as-modal-container trigger="false">
		      <as-modal-dialog modal-title="Login error">
		        {{ form.non_field_errors.as_text|cut:"$message"|cut:"* " }}
		      </as-modal-dialog>
		    </as-modal-container>
			{% endifnotequal %}
		{% endif %}
	  <form action="" method="post" id="id_{{form.form_name}}" name="{{form.form_name}}" novalidate>
	    {% csrf_token %}
	    <div class="mozart-field-container one-element">
	      <label for="id_username" class="mozart-label initial-label"> Nickname </label>
	      {{ form.username }}
	    </div>

	    <div class="form-error" ng-show="{{form.form_name}}.username.$error.required && {{form.form_name}}.username.$dirty">
				No puedes dejar este campo vacío.
			</div>

	    <div class="form-error" ng-show="{{form.form_name}}.username.$error.minlength">
	      El username debe contener al menos 5 carácteres.
	    </div>

	    <div class="form-error" ng-show="{{form.form_name}}.username.$error.maxlength">
	      El username debe contener máximo 20 carácteres.
	    </div>

	    <div class="mozart-field-container one-element">
	      <label for="id_password" class="mozart-label initial-label">Password</label>
	      {{ form.password }}
	    </div>

	    <div class="form-error" ng-show="{{form.form_name}}.password.$error.required && {{form.form_name}}.password.$dirty">
				No puedes dejar este campo vacío.
			</div>

	    <div class="form-error" ng-show="{{form.form_name}}.password.$error.minlength">
	      La contraseña debe contener al menos 6 carácteres.
	    </div>

	    <div class="form-error" ng-show="{{form.form_name}}.password.$error.maxlength">
	      La contraseña debe contener máximo 30 carácteres.
	    </div>

	    <a href="/forget" title="Da clic para recuperar tu contraseña">
				Olvidé mi contraseña
			</a>
			<br/>
	    <button type="submit" class="button submit-button" name="Enviar" ng-disabled="{{form.form_name}}.$invalid">
				Iniciar sesión
			</button>
	  </form>
	  <h2> O desde alguna de tus redes sociales vinculadas </h2>
	  <div class="social-login-box">
	    <a class="icons facebook-icon social-link" href="{% url 'social:begin' 'facebook' %}">
				Iniciar sesión con Facebook
			</a>
	    <a class="icons twitter-icon social-link" href="{% url 'social:begin' 'twitter' %}">
				Iniciar sesión con Twitter
			</a>
	    <a class="icons google-icon social-link" href="{% url 'social:begin' 'google-oauth2' %}">
				Iniciar sesión con Google
			</a>
	  </div>
	</div>
{% endblock %}
