*.pyc
db.sqlite3
Works/migrations/
Thirdauth/migrations/
Profiles/migrations/
Events/migrations/
Mozart-env/
Mozart/media/
Mozart/static/bower_components/
Mozart/static/node_modules/
staticfiles/
.env
