#bienvenida
	font-size 60px
	margin-top 40px
	overflow hidden !important
	position relative
	text-align center
	width 100%

	.recuadro
		background #dedede
		min-height 570px
		overflow hidden !important
		position relative
		text-align left
		width 100%

		div
			padding 100px 60px
			position relative
			width 40%

			a
				background linear-gradient(orange,naranja_oscuro)
				border-radius 5px
				box-shadow 0px 0px 5px black
				color black
				display inline-block
				font-size 25px
				padding 10px 15px

				&:hover
					background linear-gradient(azul_claro, azul_sitio)
					color white
			p
				font-size 25px

		img
			height auto
			position absolute
			width 100%

