.boton
	border none
	cursor pointer
	color white
	font-weight bold
	font-size 15px
	line-height 30px

	&:active, &:visited
		outline 0px

.boton[disabled="disabled"]
	background #ddd
	color #aaa
	cursor default

.boton-busqueda
	background none
	border none
	color orange
	padding  4px 8px
	position absolute
	right 0

	&:active
		border none

	&:before
		content  "\e601"

.boton-azul
	background azul_claro
	border-radius 4px
	display inline-block
	height 40px
	margin 20px 0
	padding  6px 20px
	position relative

	*
		cursor pointer


	input[type="file"]
		height 100%
		left 0
		opacity 0
		position absolute
		top 0
		width 100%
		z-index 0

	span
		display inline-block
		height 100%

	&:active
		background azul_sitio

.boton-busqueda.iconos:before
	font-size 28px
	margin-top 30px
	vertical-align top

.boton-rojo
	background linear-gradient(red, #d02f2f)
	border-radius 4px
	height 40px
	padding  5px 20px

	&:active
		background linear-gradient(#d02f2f, red)
		border-color red
		border-width 2px

.boton-cargarmas
	background #aaa
	border-radius 4px
	border none
	cursor pointer
	color white
	display inline-block
	font-weight bold
	font-size 15px
	line-height 30px
	padding 5px 20px

	&:active
		background linear-gradient(#d02f2f, red)
		border-color red
		border-width 2px


.boton-verde
	background #28AB28
	border-radius 4px
	display inline-block
	height 40px
	margin 10px 0
	padding  6px 20px
	position relative

	&:active
		background #00a600

.boton-verde.cargar-mas
	margin 20px 0
