.button, .thin-button
	border none
	cursor pointer
	color white !important
	display inline-block
	font-weight bold
	position relative
	
.button
	font-size 15px
	height 40px
	line-height 30px
	padding  6px 20px

.button[disabled="disabled"]
	background #ddd
	color #aaa
	cursor default

.cancel-button, .okay-button, .submit-button
	margin 10px 0
	padding  6px 20px
			
.cancel-button
	background red

	&:active
		background #d02f2f

.file-button, .okay-button
	background mozart-light-blue

	&:active
		background mozart-medium-blue

.file-button
	margin 20px 0

	*
		cursor pointer

	input[type="file"]
		height 100%
		left 0
		opacity 0
		position absolute
		top 0
		width 100%
		z-index 0

	span
		display inline-block
		height 100%

.load-more-button
	background #bbb
	width 300px

	&:active
		background #aaa

#menu-button
	background mozart-light-blue
	color white
	cursor pointer
	height 35px
	line-height 35px !important
	padding 0 8px
	position absolute
	
	span
		display none
		margin-left 5px
		
.search-button
	background none
	border none
	color orange
	height 35px
	padding  4px 8px
	position absolute
	right 0
	top 0

	&:active, &:visited
		border none
		outline 0px
		
	&:before
		content "\e601"
		font-size 25px !important
		
.submit-button
	background #28AB28

	&:active
		background #00a600

.thin-button
	font-size 13px
	height 26px
	line-height 20px
	margin 0
	padding  3px 6px
