.form-error, .load-more-error
	color red
	margin-right 30px
	
.form-error
	text-align right

.mozart-field
	background white
	border-color mozart-light-blue
	border-style solid
	border-width 0 0 3px 0
	input-fields()
	margin-top 30px
	transition border-color 0.2s, color 0.2s, height 0.2s
	width 100%

.mozart-field.ng-invalid.ng-dirty
	border-color red
	color #FF7373
	height 40px
	
.mozart-field.ng-valid.ng-dirty
	border-color green

.mozart-field.empty-initial-field
	height 0
	
.mozart-field.active-field, select.mozart-field.empty-initial-field
	height 40px
	
.mozart-field-container
	display inline-block
	height auto
	margin-bottom 3px
	min-height 40px
	position relative
	text-align left
	transition height 0.2s
	
.mozart-form
	background white
	margin 0 auto
	margin-top 80px
	max-width 750px
	padding 20px
	text-align center
	width 100%
	
.mozart-label
	background white
	box-sizing border-box !important
	display inline-block
	font-weight 700
	height 33px
	padding 5px 10px
	position absolute
	top 0
	transition color 0.2s
	width 100%

.mozart-label.initial-label
	color mozart-dark-gray
	cursor text
	
.mozart-label.active-label
	color mozart-light-blue
	cursor default

select.mozart-field option
	color mozart-dark-gray

textarea.mozart-field
	padding-top 8px
	resize none
	
textarea.mozart-field.active-field, textarea.mozart-field.ng-invalid.ng-dirty
	height 80px
	
.one-element, .two-elements, .three-elements
	width 88%
	
.one-element
	display block
	margin 0 auto