.icons
	transition color 0.2s

	&:before
		font-family mozArt
		font-size 35px
		vertical-align middle
.arte_digital-icon:before
	content "\e616"

.bulletin-icon:before
	content "\e622"

.card-icon:before
	content "\e618"

.create-work-icon:before
	content  "\e60a"

.dibujo-pintura-icon:before
	content "\e60e"

.error-icon:before
	color azul_sitio
	content "\e60c"
	font-size 300px

.events-icon:before
	content "\e623"

.explore-icon:before
	content "\e604"

.escultura-ceramica-icon:before
	content "\e615"

.facebook-icon:before
	color #4862a3
	content "\e612"

.folders-icon:before
	content "\e619"

.fotografia-filme-icon:before
	content "\e60f"

.google-icon:before
	color #b43525
	content "\e614"

.information-icon:before
	content "\e61d"

.lists-icon:before
	content "\e620"

.login-icon:before
	content  "\e607"

.logout-icon:before
	content  "\e60b"

.messages-icon:before
	content "\e61b"

.menu-icon
	color orange

	&:before
		content "\e600"
		cursor pointer
		display inline-block
		vertical-align top

	&:hover
		color azul_sitio

.musica-baile-icon:before
	content "\e611"

.notifications-icon:before
	content "\e61e"

.otros-icon:before
	content "\e617"

.promotors-icon:before
	content  "\e603"

.report-icon:before
	content "\e61c"

.random-icon:before
	content "\e605"

.settings-icon:before
	content  "\e609"

.share-icon:before
	color gris_oscuro
	content "\e619"

.signup-icon:before
	content  "\e606"
	
.statistics-icon:before
	content "\e61f"

.suscription-icon:before
	content "\e61a"

.teatro-literatura-icon:before
	content "\e610"
	
.todas-icon:before
	content "\e60d"

.tour-icon:before
	content  "\e602"

.twitter-icon:before
	color #55acee
	content "\e613"

.user-icon:before
	content  "\e608"

.works-icon:before
	content "\e621"
