.iconos
	transition color 0.2s

	&:before
		font-family mozArt
		font-size 35px
		vertical-align middle
.icono-arte_digital:before
	content "\e616"

.icono-aleatorio:before
	content "\e605"

.icono-boletines:before
	content "\e622"

.icono-cargar:before
	content  "\e60a"

.icono-carpetas:before
	content "\e619"

.icono-compartir:before
	color gris_oscuro
	content "\e619"

.icono-dibujo-pintura:before
	content "\e60e"

.icono-error:before
	color azul_sitio
	content "\e60c"
	font-size 300px

.icono-estadisticas:before
	content "\e61f"

.icono-eventos:before
	content "\e623"

.icono-explorar:before
	content "\e604"

.icono-escultura-ceramica:before
	content "\e615"

.icono-facebook:before
	color #4862a3
	content "\e612"

.icono-fotografia-filme:before
	content "\e60f"

.icono-google:before
	color #b43525
	content "\e614"

.icono-informacion:before
	content "\e61d"

.icono-listas:before
	content "\e620"

.icono-login:before
	content  "\e607"

.icono-mensajes:before
	content "\e61b"

.icono-menu
	color orange

	&:before
		content "\e600"
		cursor pointer
		display inline-block
		vertical-align top

	&:hover
		color azul_sitio

.icono-musica-baile:before
	content "\e611"

.icono-notificaciones:before
	content "\e61e"

.icono-obras:before
	content "\e621"

.icono-otros:before
	content "\e617"

.icono-panel:before
	content  "\e609"

.icono-perfil:before
	content  "\e608"

.icono-promotores:before
	content  "\e603"

.icono-recorrido:before
	content  "\e602"

.icono-registro:before
	content  "\e606"

.icono-reportar:before
	content "\e61c"

.icono-salir:before
	content  "\e60b"

.icono-suscripcion:before
	content "\e61a"

.icono-tarjeta:before
	content "\e618"

.icono-todas:before
	content "\e60d"

.icono-twitter:before
	color #55acee
	content "\e613"

.icono-teatro-literatura:before
	content "\e610"
