@media screen and (max-width:800px)
	#barra-lateral
		width 35%

	#bienvenida .recuadro
		div
			width 100%
		img
			position relative

	#cuadro-busqueda
		left 0px
		right 80px

	#informacion, #configuraciones
		width 64%

		.bloque
			width 100%

	header #mozart-logo img
		display none
		
	.link-social
		font-size 13px

	#section-general .formulario
		width 90%
	
	textarea.un-cuadro
		width 88%

	div.un-cuadro, div.doble-cuadro, div.triple-cuadro
		display block
		width 98%

@media screen and (max-width:530px)
	#barra-lateral
		max-width 300px
		width 90%
		
	.etiqueta-input
		font-size 12px
		
	#informacion, #configuraciones
		width 100%

@media screen and (max-width:430px)
	#obras-principal
		padding 5px 0

	.publicacion
		width 300px

		.thumbnail
			line-height 166px
			height 166px
