@media screen and (min-width:620px)
	.last-article
		background mozart-dark-gray
		font-size 50px
		
	.menu-option
		margin-bottom 10px !important

	#mozart-logo
		display inline-block
		
	#settings-content
		left 290px
		margin 10px
		padding-top 5px
		position absolute
		right 0
		
	.settings-menu
		bottom 0
		left 0
		overflow auto
		position fixed
		top 35px
		width 280px

	.work-item
		margin 6px

	.welcome-box 
		background linear-gradient(90deg, rgba(black, 0.5), rgba(white, 0)) !important
		
		div
			padding 20% 60px
			width 50%

@media screen and (min-width:800px)
	.one-element
		width 70%
	
	.three-elements
		width 30%
		
	.two-elements
		display inline-block
		margin 0 auto
		width 47%
	
	.three-elements .one-element, .two-elements .one-element
		width 90% !important

	#welcome
		background-size 140% auto !important
		font-size 25px !important

	.welcome-box
		h2
			font-size 60px !important

/*@media screen and (max-width:800px)
	#barra-lateral
		width 35%

	#bienvenida .recuadro
		div
			width 100%
		img
			position relative

	#cuadro-busqueda
		left 0px
		right 80px

	#informacion, #configuraciones
		width 64%

		.bloque
			width 100%

	header #mozart-logo img
		display none
		
	.link-social
		font-size 13px

	#section-general .formulario
		width 90%
	
	textarea.un-cuadro
		width 88%

	div.un-cuadro, div.doble-cuadro, div.triple-cuadro
		display block
		width 98%

@media screen and (max-width:530px)
	#barra-lateral
		max-width 300px
		width 90%
		
	.etiqueta-input
		font-size 12px
		
	#informacion, #configuraciones
		width 100%

@media screen and (max-width:430px)
	#obras-principal
		padding 5px 0

	.publicacion
		width 300px

		.thumbnail
			line-height 166px
			height 166px
*/