@media screen and (max-height:330px)
	#big-search
		padding 10px 20px
  		
	.welcome-box div
		padding 20% 60px

@media screen and (min-width:620px)
	.audio-file
		height 436px

	::-webkit-media-controls-panel
		background rgba(mozart-dark-gray, 0)
		
		&:hover
			background rgba(mozart-dark-gray, 0.8)	
		

	#blue-navbar-section.profile-section
		top 80px
	  
	#big-search-form .search-input
		font-size 50px !important
			
	.last-article
		background mozart-dark-gray
		font-size 50px

	.menu-option
		margin-bottom 10px !important

	#mozart-logo
		display inline-block	
		
	.profile-information-box
		margin-bottom 20px !important
		
	.profile-box-content .two-elements
		width 45%
		
	#profile-menu .toggle-menu
		margin 0
		margin-top 45px
		
	#settings-content, #blue-navbar-section.profile-section
		left 290px
		margin 10px
		padding-top 5px
		position absolute
		right 0
		
	.toggle-menu
		bottom 0
		left 0
		overflow auto
		position fixed
		top 35px
		width 280px

	.work-item
		margin 6px

	.welcome-box 
		background linear-gradient(90deg, rgba(black, 0.5), rgba(white, 0)) !important
		
		div
			padding 20% 60px
			width 50%

@media screen and (min-width:800px)
	.three-elements .one-element, .two-elements .one-element
		width 90% !important

	#welcome
		font-size 25px !important

	.welcome-box
		h2
			font-size 60px !important
			
@media screen and (min-width:900px)
	.one-element
		width 70%
	
	.three-elements
		width 30%
		
	.two-elements
		display inline-block
		width 47%
		
	.event-content
		width 70%
	