.as-modal-button
	border none
	border-radius 3px
	color #fff !important
	cursor pointer
	display inline-block
	font-family 'Open Sans'
	font-weight bold
	margin 2px 5px
	position relative
	text-decoration none
	transition background 0.2s
  
.as-modal-no-button
	border-radius none !important
	display inline !important
	font-family inherit !important
	font-weight inherit !important
	margin 0 !important
	transition color 0.3s !important
  
.as-modal-blue-button
	background #0095ff
  
.as-modal-blue-button:hover
	background #007dd6
  
.as-modal-red-button
	background #ff2417
  
.as-modal-red-button:hover
	background #d60c00
  
.as-modal-green-button
	background #3cba45
  
.as-modal-green-button:hover
	background #34a23c
  
.as-modal-no-button.as-modal-blue-button
	background none !important
	color #0095ff !important

.as-modal-no-button.as-modal-blue-button:hover
	color #007dd6

.as-modal-no-button.as-modal-red-button
	background none !important
	color #ff2417 !important
	
.as-modal-no-button.as-modal-red-button:hover
	color #d60c00

.as-modal-no-button.as-modal-green-button
	background none !important
	color #3cba45 !important

.as-modal-no-button.as-modal-green-button:hover
	color #34a23c

.as-modal-small-button
	font-size 15px
	padding 5px 8px

.as-modal-medium-button
	font-size 18px
	padding 8px 12px

.as-modal-big-button
	font-size 22px
	padding 10px 15px

.as-modal-shadow
	background rgba(0,0,0,0.7)
	bottom 0
	left 0
	overflow-x hidden !important
	overflow-y auto !important
	position fixed
	right 0
	text-align center
	top 0
	z-index 6

.as-modal-shadow:before
	content ''
	display inline-block
	height 100%
	position relative
	vertical-align middle
	width 0

.as-modal-dialog-box
	background #fff
	display inline-block
	font-family 'Open Sans', Arial, Helvetica, sans-serif
	height auto
	max-height 415px
	max-width 500px
	padding 15px 15px 30px 15px
	position relative
	vertical-align middle
	width 85%

.as-modal-dialog-box h3
	font-size 20px
	margin 15px 0 !important

.as-modal-dialog-content
	background #ededed
	margin 20px 0
	max-height 230px
	overflow-x hidden !important
	overflow-y auto !important
	padding 20px
	text-align left
