azul_sitio = #2474e0
naranja_oscuro = #ff7800
gris_oscuro = #333
azul_claro = #3D92DA

*
	box-sizing border-box !important

a
	color azul_sitio
	cursor pointer
	text-decoration none

body
	background #ededed
	font-family Lato
	font-size 16px
	margin 0
	padding 0

#boton-menu
	background #555
	cursor pointer
	left 3px
	position absolute
	top 4px

footer
	background gris_oscuro
	bottom 0
	color white
	font-size 14px
	padding 15px 0
	position fixed
	transition left 0.2s
	width 320px
	z-index 6

	a
		color azul_sitio
		display inline-block
		padding 5px

	li
		display inline-block
		margin 8px

	ul
		display inline-block
		margin 0 0 0 -40px
		width auto
header
	background white
	font-size 14px
	height 35px
	position fixed
	width 100%
	top 0
	z-index 2
	
	a.iconos
		display inline-block
		line-height 20px
		vertical-align middle 
		
	.iconos:before
		font-size 20px

	#mozart-logo
		display none
	
#menuprincipal
	background #ededed
	box-shadow 4px 1px 6px gris_oscuro
	height 100%
	overflow auto !important
	padding-top 20px
	position fixed
	text-align center
	top 35px
	transition left 0.2s
	width 320px

	ul
		margin-bottom 200px
		transition right 0.2s
			
	figure
		display inline-block
		margin 0

		img
			border 1px solid orange
			cursor pointer
	
			display inline-block
			height 33px
			margin 2px 2px 0 0
			position relative
			vertical-align middle
			width 33px

			&:hover
				border 1px solid azul_sitio
				
	hr
		background azul_sitio
		border none
		height 2px
		margin 0

#menuprincipal.menuoculto
	left -330px
	
	footer
		left -330px

#menuprincipal.menuvisible
	left 0
	
	footer
		left 0
	
.redondo
	border-radius 50%