#profile-avatar
	height 250px
	width 250px

#profile-menu .toggle-menu
	background mozart-dark-gray !important
	margin-top 10px
	
#blue-navbar-section #profile-menu .toggle-menu
	margin-top 55px
	
#profile-username
	margin-top 10px

.profile-information-box
	margin auto
	margin-bottom 20px !important
	padding 0 8px
	
.profile-box-content
	background white
	padding 15px
	
	.two-elements
		margin 5px auto !important
		overflow hidden
		text-overflow ellipsis

		h4
			margin 5px

.profile-box-title
	background mozart-dark-gray
	color white
	font-size 18px
	margin 0
	padding 15px 10px
	
.profile-section
	text-align center