#big-search
  background-image url('/static/img/fondo1.jpg')
  background-position 50% 50% !important
  background-size cover !important
  bottom 0
  padding 100px 20px
  position absolute
  top 35px
    
#big-search-form
  width 100%
  
  .search-input
    background rgba(white, 0.3) !important
    border-color mozart-light-blue !important
    border-style solid !important
    border-width 0 0 3px 0 !important
    font-size 29px !important
    height 120px
    position relative !important
    
  .search-button
    background orange
    box-shadow 0 0 30px mozart-dark-gray
    display block
    height 120px
    margin 20px auto
    position relative !important
    transition background 0.3s
    width 120px
    
    &:before
      color white
      font-size 80px !important
      
    &:hover
      background mozart-orange
      
#search-section
  position relative
  
.slide-button
  background linear-gradient(mozart-medium-blue, mozart-light-blue)
  border 1px mozart-dark-gray solid
  border-radius 20px
  cursor pointer
  height 32px
  margin 20px auto
  position relative
  width 200px
  
  .active-option
    background linear-gradient(orange, mozart-orange)
    border-radius 20px
    box-shadow 0px 0px 10px black
    color white
    display inline-block
    font-weight 700
    height 30px
    line-height 30px
    position absolute
    text-align center
    transition all 0.3s
    width 50%
    z-index 2
  
  .right-option
    left 50%
    
  .left-option
    left 0
    
  .non-active-option
    color white
    display inline-block
    height 30px
    line-height 30px
    position absolute
    text-align center
    transition all 0.3s
    width 50%
    z-index 1

#works-search-results, #users-search-results
  height auto
  left 5%
  opacity 1
  position absolute
  top 50px
  width 90%

#works-search-results.ng-hide-add.ng-hide-add-active,
#works-search-results.ng-hide-remove.ng-hide-remove-active,
#users-search-results.ng-hide-add.ng-hide-add-active,
#users-search-results.ng-hide-remove.ng-hide-remove-active
  transition all 0.5s

#works-search-results.ng-hide,
#users-search-results.ng-hide
  height 0
  opacity 0
  
#users-search-results
  padding-top 20px
  text-align center
  
#users-search-results .user-icon
	display inline-block
	margin 3px 8px 
    
	&:before
		background mozart-dark-gray
		border-radius 50%
		color white
		display block
		margin 5px auto
		padding 8px
		width 35px