div.menu-option
	height 35px

.menu-list 
	display block
	height auto
	overflow hidden
	text-align left
// 	transition max-height 0.3s !important
	
// .menu-list.ng-hide-add.ng-hide-add-active,
// .menu-list.ng-hide-remove.ng-hide-remove-active
//  	transition max-height 0.3s !important
 	
.menu-list.ng-hide
 	height 0
	
.menu-option
	display block
	
.menu-option a
	border-bottom white solid 1px 
	color white
	display block
	font-size 18px
	margin 0 auto
	padding 5px
	transition all 0.3s
	width 93%
			
	&:before
		font-size 34px
				
	&:hover, &:active
		border-bottom-color black
		color black
		
	
#settings-content
	background white
	margin-top 0
	padding 20px
	
.settings-menu
	background mozart-light-blue
	color white
	margin 10px
	padding 10px
	
.toggle-menu-button
	background white
	border-radius 50%
	color mozart-light-blue !important
	font-weight 700
	font-size 26px !important
	float right
	height 35px !important
	padding 0 !important
	text-align center
	width 35px !important
