.menu-list 
	// background white
	// border-color mozart-light-blue
	// border-style solid
	// border-width 0 0 2px 0
	display block
	text-align left
	
	li
		display block
		
		a
			color mozart-light-blue
			display block
			margin 0 auto
			padding 5px
			width 80%
			
			&:before
				font-size 30px
				
			&:hover, &:active
				color mozart-medium-blue
	
#settings-content
	background white
	margin-top 0
	
#settings-menu *
	vertical-align middle