.social-media-box
	a.social-link
		border-radius 10px
		color white
		display inline-block
		font-weight 700
		line-height 30px
		margin 5px
		padding 5px
	
	.icons:before
		background white
		border-radius 6px
		font-size 30px
		font-weight normal
		
	.facebook-icon
		background #4862a3
	
	.google-icon
		background #b43525
	
	.twitter-icon
		background #55acee