fieldset.social-container
	margin 0
	padding 0
	
.social-media-box, .social-login-box
	.icons:before
		background white
		border-radius 6px
		font-weight normal
		
	.facebook-icon:before, .facebook-text
		color #4862a3
	
	.google-icon:before, .google-text
		color #b43525
	
	.twitter-icon:before, .twitter-text
		color #55acee
		
	.social-link
		color white
		display inline-block

.social-media-box
	margin-bottom 10px
	
	.icons:before
		font-size 40px
	
	.social-item
		height 40px
		margin 8px 0
		padding 0
		position relative
			
	.social-media-delete-button
		display inline-block
		position absolute
		right 0
		
		> .button
			margin-top 0px
			padding-top 3px
		
	.social-media-name
		display inline-block
		font-size 18px
		left 40px
		position absolute
		right 40px
		top 10px
		text-align center
		
		a
			display block
			font-weight 700

.social-login-box
	text-align center
	
	.icons:before
		font-size 30px
			
	.facebook-icon, .google-icon, .twitter-icon
		border-style solid
		border-width 0 0 2px
		padding 5px
		
		&:before
			margin-right 8px

	.facebook-icon
		border-color #4862a3
		color #4862a3
	
	.google-icon
		border-color #b43525
		color #b43525
	
	.twitter-icon
		border-color #55acee
		color #55acee

	.social-link
		text-align center
		font-weight 700
		line-height 30px
		margin 5px