mozart-light-blue = #3D92DA
mozart-medium-blue = #2474e0
mozart-dark-gray = #333
mozart-light-gray = #ededed
mozart-orange = #ff7800

input-fields()
	color #999
	font-size 17px
	font-family "Lato"
	font-weight bold
	padding 0 10px
	position relative
	transition background 0.2s, color 0.2s
	vertical-align middle

	&:focus
		background white
		color #555
		
hr-mixin(bkground)
	background bkground
	border none
	height 2px
	margin 0