.last-article
	background mozart-dark-gray
	font-size 30px
	padding 20px

#welcome
	background-attachment fixed
	background-color white
	background-position 50% 50% !important
	background-size cover !important
	color white
	font-size 18px
	height 100%
	overflow auto !important
	position fixed
	text-align center
	top 0
	transition background-image 0.35s
	width 100%

.welcome-box
	background linear-gradient(90deg, rgba(black, 0.8), rgba(white, 0))
	height 100%
	line-height 100%
	text-align justify
	width 100%

	div
		padding 40% 30px
		position relative
		width 80%

		h2
			font-size 30px

		a
			background mozart-medium-blue
			border-radius 3px
			color white
			display inline-block
			padding 10px 15px

			&:hover
				background mozart-light-blue
