::-webkit-media-controls-panel
	background rgba(mozart-dark-gray, 0)
	border-radius 0
	bottom 15px
	height 50px
	transition all 0.3s
	
	&:hover
		background rgba(mozart-dark-gray, 0.8)	
		
::-webkit-media-controls-play-button
	height 40px
	width 40px
	
::-webkit-media-controls-timeline
	width 10px !important
		
.audio-file .track-title, .image-file .image-title
	background rgba(mozart-dark-gray, 0)
	color white
	font-size 20px
	font-weight 600
	padding 15px
	position absolute
	text-shadow 0 0 15px black
	top 0
	transition all 0.3s
	width 100%
	
.audio-file:hover .track-title, .image-file:hover .image-title
	background rgba(mozart-dark-gray, 0.8)
	text-shadow none

.audio-file
	background-color mozart-dark-gray !important
	background-position center !important
	background-repeat no-repeat !important
	background-size 200% auto !important
	height 250px
	

	::-webkit-media-controls-panel
		bottom 20px
		width 100% !important
	
	&:hover
		background-position center !important
		background-repeat no-repeat !important
		background-size 100% auto !important
				
		::-webkit-media-controls-panel
			background rgba(mozart-dark-gray, 0.8)	
		
	audio
		bottom 0
		left 0
		position absolute
		right 0
		vertical-align top
		width 100%
	
#comments-section
	margin-top 5px !important
	padding 0 !important
	
	h2
		background white
		display block
		padding 20px
	 	
#comments-toggle
	margin-top 5px !important
	padding 15px !important
	
.image-file img
	width 100%
	
.load-more-error
	margin 15px 0
	
.media-content
	margin 0 auto
	position relative
	width 100%
	transition all 0.3s
	
#new-comment
	text-align right


.work-date
	font-weight bold

.work-description
	font-size 18px
	margin 15px 0 0 0

#work-details
	padding 10px

.work-item, .promotor-item
	background white
	border #ccc solid 1px
	color  mozart-dark-gray
	display inline-block
	height auto
	margin 6px 0
	padding-bottom 5px
	text-align left
	vertical-align middle
	width 300px
	
	a
		color mozart-orange

	.icons:before
		color #555
		font-size 20px
		margin 0 5px
		vertical-align bottom
		
.work-item.ng-move,
.work-item.ng-enter,
.work-item.ng-leave 
	transition all linear 0.5s


.work-item.ng-leave.ng-leave-active,
.work-item.ng-move,
.work-item.ng-enter
	opacity 0

.work-item.ng-leave,
.work-item.ng-move.ng-move-active,
.work-item.ng-enter.ng-enter-active 
	opacity 1

#work-section, #comments-section
	margin 0 auto
	max-width 900px
	width 90%
	
#work-section
	border-color white
	border-style solid
	border-width 0 0 5px 0
	margin-top 20px
	padding 0 0 3px 0
	
.work-author-thumbnail
	height 50px
	wifth 50px 
	
.work-thumbnail
	background-position center !important
	background-repeat no-repeat !important
	background-size 110% auto !important
	height 160px
	margin 0px 0 5px 0
	width 100%
	
	span
		background black
		color white
		display block
		font-size 35px
		height 100%
		line-height 160px
		opacity 0
		text-align center
		transition opacity 0.3s
		
	&:hover span
		opacity 1

.work-title
	font-weight bold
	margin-left 3px
	margin-right 5px
	

	