.load-more-error
	margin 15px 0

.work-date
	font-weight bold

.work-item, .promotor-item
	background white
	border #ccc solid 1px
	color  mozart-dark-gray
	display inline-block
	height auto
	margin 6px 0
	padding-bottom 5px
	text-align left
	vertical-align middle
	width 300px
	
	a
		color mozart-orange

	.icons:before
		color #555
		font-size 20px
		margin 0 5px
		vertical-align bottom

.work-thumbnail
	background-position center !important
	background-repeat no-repeat !important
	background-size 110% auto !important
	height 160px
	margin 0px 0 5px 0
	width 100%

.work-title
	font-weight bold
	margin-left 3px
	margin-right 5px