::-webkit-media-controls-panel
	background rgba(mozart-dark-gray, 0)
	border-radius 0
	bottom 15px
	height 50px
	transition all 0.3s
	
	&:hover
		background rgba(mozart-dark-gray, 0.8)	
		
::-webkit-media-controls-play-button
	height 40px
	width 40px
	
::-webkit-media-controls-timeline
	width 10px !important

#comments
	background white
.audio-file
	background-color mozart-dark-gray !important
	background-position center !important
	background-repeat no-repeat !important
	background-size 200% auto !important
	height 250px
	
		
	::-webkit-media-controls-panel
		bottom 20px
		width 100% !important
	
	&:hover
		background-position center !important
		background-repeat no-repeat !important
		background-size 100% auto !important
			
		.track-title
			background rgba(mozart-dark-gray, 0.8)
			text-shadow none
				
		::-webkit-media-controls-panel
			background rgba(mozart-dark-gray, 0.8)	
		
	.track-title
		background rgba(mozart-dark-gray, 0)
		color white
		font-size 20px
		font-weight 600
		padding 15px
		text-shadow 0 0 15px black
		transition all 0.3s
		
	audio
		bottom 0
		left 0
		position absolute
		right 0
		vertical-align top
		width 100%
	
.media-player
	margin 0 auto
	position relative
	width 100%
	transition all 0.3s
	
.load-more-error
	margin 15px 0

.work-date
	font-weight bold

.work-description
	font-size 18px
	margin 15px 0 0 0

#work-details
	background mozart-light-gray
	padding 10px

.work-item, .promotor-item
	background white
	border #ccc solid 1px
	color  mozart-dark-gray
	display inline-block
	height auto
	margin 6px 0
	padding-bottom 5px
	text-align left
	vertical-align middle
	width 300px
	
	a
		color mozart-orange

	.icons:before
		color #555
		font-size 20px
		margin 0 5px
		vertical-align bottom
		
.work-item.ng-move,
.work-item.ng-enter,
.work-item.ng-leave 
	transition all linear 0.5s


.work-item.ng-leave.ng-leave-active,
.work-item.ng-move,
.work-item.ng-enter
	opacity 0

.work-item.ng-leave,
.work-item.ng-move.ng-move-active,
.work-item.ng-enter.ng-enter-active 
	opacity 1

#work-section
	background white
	margin 0 auto
	margin-top 20px
	max-width 900px
	padding 0 0 5px 0
	width 90%
	
.work-author-thumbnail
	height 50px
	wifth 50px 
	
.work-thumbnail
	background-position center !important
	background-repeat no-repeat !important
	background-size 110% auto !important
	height 160px
	margin 0px 0 5px 0
	width 100%

.work-title
	font-weight bold
	margin-left 3px
	margin-right 5px
	

	