<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Configuracion de la Cuenta</title>
	<link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
	<link rel="icon" type="image/png" href="{% static "img/icono.png" %}"/>
</head>
<body>
	<div class="center-block">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-6" style="margin-top:2em; margin-left:7em">
				<h1>Configuracion de la Cuenta</h1>
			</div>
		</div>
		<form action="" method='POST'>
			{% csrf_token %}
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.username}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.first_name}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.last_name}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.nationality}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.description}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.personal_homepage}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.phone_number}}
				</div>
			</div>
			<div class="row" style="margin:2em 0 0 9.7em;">
				<div class="col-xs-3"></div>
				<div class="col-xs-5">
					<h4>Inserta Tu Contraseña Para Guardar Los Cambios</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3"></div>
				<div class="col-xs-4" style="margin-top:2em; margin-left:7em">
					{{form.password}}
				</div>
			</div>
			<div class="row" style="margin:2em 0 0 -8em;">
				<div class="col-xs-4"></div>
				<div class="col-xs-5">
					<button style="width:100%"class="btn btn-success" type="submit">Guardar Cambios</button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>