{% load thumbnail %}<!doctype html>
<html class="no-js" ng-app="mozArtApp">{% load static from staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <script src="{% static "js/bower.js" %}"></script>
    <script src="{% static "djangular/js/django-angular.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/Mozart.js" %}"></script>
  </head>
  <body ng-init="showAside=false" hm-swipeleft="showAside=false" hm-swiperight="showAside=true">
    <nav id="mozart-navbar">
      <aside id="mozart-menu" ng-show="showAside" off-click="showAside=false" off-click-filter="'#menu-button'" off-click-if="showAside">
        <div>
        {% if user.is_authenticated %}
          {% if user.mozart_user.profile_picture %}
            {% thumbnail user.mozart_user.profile_picture "200x200" crop="center" as im %}
          <img class="circle" src="{{ im.url }}"/>
            {% endthumbnail %}
          {% else %}
          <img class="circle" src="{% static "img/default.png" %}" width="200px"/>
          {% endif %}
          <h2>{{user.username}}</h2>
        {% else %}
          <img class="circle" src="{% static "img/default.png" %}" width="200px"/>
          <h2>Invitado</h2>
        {% endif %}
          <hr/>
          <ul>
            <li><a class="icons explore-icon" href="{% url 'works:work_list' %}">Explorar obras</a></li>
            <li><a class="icons promotors-icon" href="/promoters">Promotores</a></li>
            <li><a class="icons tour-icon" href="/tour">Recorrido por mozArt</a></li>
            <hr/>{% if user.is_authenticated %}{% if user.mozart_user.user_type == 'Artista' %}
            <li><a href="{% url 'works:create_work' %}" class="icons create-work-icon">Crear obra</a>
            </li>{% endif %}{% if user.mozart_user.user_type == 'Promotor' %}
            <li><a href="{% url 'events:create_event' %}" class="icons event-icon">Crear evento</a>
            </li>{% endif %}
            <li><a href="{% url 'events:create_event' %}" class="icons events-icon">Crear evento</a>
            <li><a href="{% url 'profiles:user_profile'  user.username %}" class="icons user-icon">Ver mi Perfil</a></li>
            <li><a href="{% url 'profiles:settings_account' %}" class="icons settings-icon">Panel de usuario</a></li>
            <li><a href="{% url 'thirdauth:logout' %}" class="icons logout-icon">Cerrar sesión</a></li>{% else %}
            <li><a href="{% url 'thirdauth:login' %}" class="icons login-icon">Iniciar sesión</a></li>
            <li><a href="{% url 'thirdauth:signup' %}" class="icons signup-icon">Unirse a mozArt</a></li>{% endif %}
            <hr/>
            <li><a class="icons random-icon" href="/">Obra aleatoria</a></li>
            <li><a class="icons random-icon" href="/">Usuario aleatorio</a></li>
          </ul>
        </div>
        <footer id="mozart-footer">
          <a href="#"><span>Donaciones</span></a>
          <a href="#"><span>Acerca del sitio</span></a>
          <a href="#"><span>Políticas, terminos y condiciones</span></a>
          <a href="#"><span>Dudas y sugerencias</span></a><br/>
          <span>© 2014 mozArt. Desarrollado por <a href="#">zero</a></span>
        </footer>
      </aside>
      <a id="menu-button" class="icons menu-icon" ng-click="showAside=!showAside"></a>
      <figure id="mozart-logo">
        <a href="{% url 'works:work_list' %}"><img src="{% static "img/logo.png" %}" alt="mozArt"></a>
      </figure>
      <form id="search-form" action="{% url 'works:search' %}" method="get">
        <input type="search" name="search" class="search-input" placeholder="Buscar en mozArt" autocomplete="off"/>
        <button type="submit" class="icons search-button"></button>
      </form>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
