{% extends 'base_view.html' %}
{% block content %}<section id="section-general">
  <div id="contenedor-principal">
    <div id="barra-lateral">
      <ul class="menu-bloques">
        <li class="opcion-menu"><a class="iconos icono-informacion activo" href="/settings/account">Editar información</a></li>
        <li class="opcion-menu"><a class="iconos icono-panel" href="/settings/password">Cambiar contraseña</a></li>
        <li class="opcion-menu"><a class="iconos icono-panel" href="/settings/social">Cuentas vinculadas</a></li>
        {% if user.mozart_user.user_type == 'Artista' %}
        <li class="opcion-menu"><a class="iconos icono-obras" href="/settings/works">Mis obras</a></li>{% endif %}
      </ul>
    </div>
    <div id="configuraciones">
      {% block section %}{% endblock %}
    </div>
  </div>
</section>{% endblock %}
