{% extends 'configuraciones.html' %}
{% block title %}Mis obras - mozArt{% endblock %}
{% block section %}<div ng-init="categoria='all';autor='{{username}}'"><div ng-controller="cargarObrasCtrl">
<h2>Mis obras</h2><article class="publicacion" ng-repeat="obra in obras">
        <div class="thumbnail-obra" style="background:url('{$obra.cover$}');">
        </div>
        <span class="iconos icono-{$obra.category$}"></span><a class="titulo-obra" ng-href="/work/{$obra.slug$}" ng-bind="obra.title"></a><br/>
        Creada el <span class="fecha-obra" ng-bind="obra.date"></span><br/>
        <div style="display: inline-block" ng-controller="modalCtrl">
          <a ng-href="/settings/works/{$obra.slug$}">Editar</a>
          <a style="color: red" ng-click="toggleModal()">Eliminar</a>
          <modal-dialog show="modalShown" titulo-ventana="¿Seguro de que quieres eliminar esta obra?">
            <div  class="ventana-modal-contenido" >
              Una vez que elimines la obra, se borrará de la base de datos de mozArt y no podrás recuperarla. No hay marcha atrás.
            </div>
            <a class="boton boton-rojo" ng-href="/delete/work/{$obra.slug$}">Si</a>
            <a style="display: inline" class="boton boton-azul" ng-click="toggleModal()">No</a>
          </modal-dialog>
        </div>
      </article><br/>
      <div class="aviso-error" ng-show="mostrarMensaje">
        No existen obras suficientes para cubir la petición. Intenta refrescar la página.
      </div>
      <button class="boton boton-verde" ng-click="cargar()">Cargar más obras</button>
    </div></div>
    {% endblock %}
