{% extends 'configuraciones.html'%}
{% block title %}Cambiar contraseña - mozArt{% endblock %}
{% block section %}<h1>Cambiar contraseña</h1>
{% if form.non_field_errors %}
    {% ifnotequal form.non_field_errors.as_text|cut:"* " "$message" %}
    <div class="aviso-error">
      {{form.non_field_errors.as_text|cut:"$message"|cut:"* "}}
    </div>
  {% endifnotequal %}
{% endif %}
	<form action="" method="post" id="id_passwordform" name="{{form.form_name}}">
	{% csrf_token %}
		<div class="un-cuadro s-mzfield">
			<label for="id_old_password" class="etiqueta-input">Actual</label>
			{{form.old_password}}
		</div>
		<div class="un-cuadro s-mzfield">
			<label for="id_new_password_1" class="etiqueta-input">Nueva</label>
			{{form.new_password_1}}
		</div>
		<div class="un-cuadro s-mzfield">
			<label for="id_new_password_2" class="etiqueta-input">Verificar</label>
			{{form.new_password_2}}
		</div>
		<div class="aviso-error" ng-show="passwordform.new_password_2.$error.noIguales && passwordform.new_password_2.$dirty">La contraseña no coincide.</div>
		<button type="submit" ng-disabled="passwordform.$invalid" class="boton boton-verde">Guardar cambios</button>
		</form>{% endblock %}