{% extends 'base_view.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}Eventos - mozArt{% endblock %}
{% block content %}
<div class="text-center">
{% for event in events%}
    <article class="two-elements event-item" style="background-image:url('{{event.cover.url}}')">
        <div>
            <div class="event-title-date">
                <div class="event-date">
                    {{event.date|date:"d"}}<br/>
                    {{event.date|date:"M"}}
                </div>
                <div class="event-title">{{event.name}}</div>
            </div>
            <div class="event-content">
                <p>{{event.description}}</p>
                <hr/>
                <p>{{event.place}}</p>
                <p>{{event.date}}</p>
                <p>{{event.start_time|date:"h:i a"}} - {{event.finish_time|date:"h:i a"}}</p>
                <p>Anfitrion: {{event.user}}</p>
            </div>
        </div>
    </article>
    {% endfor%}{% endblock %}
</div>