{% extends 'base_view.html' %}
{% block title %}Explorar - mozArt{% endblock %}
{% block content %}
  	<nav id="barra-categorias">
    	<ul class="categorias">
        <li><a href="/explorar/" class="iconos icono-todas" title="Todas las categorías"></a></li>
        <li><a href="/explorar/dyp" class="iconos icono-dyp" title="Dibujo y pintura"></a</li>
        <li><a href="/explorar/fyf" class="iconos icono-fyf" title="Fotografía y filme"></a></li>
        <li><a href="/explorar/tyl" class="iconos icono-tyl" title="Teatro y literatura"></a></li>
        <li><a href="/explorar/myb" class="iconos icono-myb" title="Música y baile"></a></li>
        <li><a href="/explorar/eyc" class="iconos icono-eyc" title="Escultura y cerámica"></a></li>
        <li><a href="/explorar/ad" class="iconos icono-ad" title="Arte digital"></a></li>
        <li><a href="/explorar/otros" class="iconos icono-otros" title="Otros"></a></li>
      </ul>
    </nav>
    <section id="obras-principal" ng-controller="cargarObrasCtrl">
      <article class="publicacion" ng-repeat="obra in obras">
        <div class="thumbnail-obra" style="background:url('{$obra.cover$}');">
          <span class="formato" ng-bind="obra.slug"></span>
        </div>
        <a ng-href=" {$ obra.url $} "><img class="redondo thumbnail-usuario-p" ng-src=" {$ obra.cover $} "/></a>
        <span class="iconos icono-{$obra.category$}"></span><a class="titulo-obra" ng-href="{$obra.url$}" ng-bind="obra.title"></a><br/>
        <span class="autor-obra">por <a ng-href=" {$ obra.url $} " ng-bind="obra.slug"></a></span> el <span class="fecha-obra" ng-bind="obra.date"></span>
      </article><br/>
      <button class="boton boton-verde cargar-mas" ng-click="cargar(cantidad)">Cargar más obras</button>
    </section>
{% endblock %}
