{% extends 'base_view.html' %}
{% block title %}{{work.title}} (por {{work.user.username}}) - mozArt{% endblock %}
{% block content %}
<section id="section-general">
	<div id="section-obra">
		<img id="contenido-obra" src="{{work.archive.url}}" alt="{{work.title}}" title="{{work.title}}">
		<a href="/{{work.user.username}}"><img class="redondo thumbnail-usuario-p" src="{{work.user.mozart_user.profile_picture.url}}"/> </a><span class="iconos icono-dyp"></span><span class="titulo-obra">{{work.title}}</span><br/>
			Creada por <a class="autor-obra" href="/{{work.user.username}}">{{work.user.username}}</a> en <span class="fecha-obra">{{work.date}}</span><br/>

			<p>{{work.description}}</p>
	</div>
</section>
{% endblock %}