{% extends 'base_view.html' %}
{% block title %}Perfil de {{username}} - mozArt{% endblock %}
{% block content %}
<nav id="barra-categorias">
	<ul class="categorias">
        <li><a href="/{{username}}/works/" class="iconos icono-todas" title="Todas las categorías"></a></li>
        <li><a href="/{{username}}/works/category/dibujo-pintura" class="iconos icono-dibujo-pintura" title="Dibujo y pintura"></a</li>
        <li><a href="/{{username}}/works/category/fotografia-filme" class="iconos icono-fotografia-filme" title="Fotografía y filme"></a></li>
        <li><a href="/{{username}}/works/category/teatro-literatura" class="iconos icono-teatro-literatura" title="Teatro y literatura"></a></li>
        <li><a href="/{{username}}/works/category/musica-baile" class="iconos icono-musica-baile" title="Música y baile"></a></li>
        <li><a href="/{{username}}/works/category/escultura-ceramica" class="iconos icono-escultura-ceramica" title="Escultura y cerámica"></a></li>
        <li><a href="/{{username}}/works/category/arte_digital" class="iconos icono-arte_digital" title="Arte digital"></a></li>
        <li><a href="/{{username}}/works/category/otros" class="iconos icono-otros" title="Otros"></a></li>
      </ul>
</nav>
<div id="obras-principal"  ng-init="usuario='{{username}}'">
	<div id="contenedor-principal" ng-controller="mozartUserInformationCtrl">
		<div id="barra-lateral">
			<figure id="avatar-perfil" >
				<img id="avatar-usuario" ng-src="{$imagen$}"/>
			</figure>
			<h2 ng-bind="usuario">
			</h2>
			<p ng-bind="descripcion">
			</p>
			<ul class="menu-bloques">
				<li class="opcion-menu "><a class="iconos icono-tarjeta" href="/{{username}}/">Mi tarjeta</a></li>
			</ul>
		</div>
		{% block section %}{% endblock %}
	</div>
</div>
{% endblock %}