{% extends 'base_view.html' %}
{% block title %}Perfil de {{username}} - mozArt{% endblock %}
{% block content %}
<nav id="barra-categorias">
	<ul class="categorias">
        <li><a href="/{{username}}/works/" class="iconos icono-todas" title="Todas las categorías"></a></li>
        <li><a href="/{{username}}/works/dibujo-pintura" class="iconos icono-dibujo-pintura" title="Dibujo y pintura"></a</li>
        <li><a href="/{{username}}/works/fotografia-filme" class="iconos icono-fotografia-filme" title="Fotografía y filme"></a></li>
        <li><a href="/{{username}}/works/teatro-literatura" class="iconos icono-teatro-literatura" title="Teatro y literatura"></a></li>
        <li><a href="/{{username}}/works/musica-baile" class="iconos icono-musica-baile" title="Música y baile"></a></li>
        <li><a href="/{{username}}/works/escultura-ceramica" class="iconos icono-escultura-ceramica" title="Escultura y cerámica"></a></li>
        <li><a href="/{{username}}/works/arte_digital" class="iconos icono-arte_digital" title="Arte digital"></a></li>
        <li><a href="/{{username}}/works/otros" class="iconos icono-otros" title="Otros"></a></li>
      </ul>
</nav>
<div id="obras-principal">
	<div id="contenedor-principal">
		<div id="barra-lateral">
			<figure id="avatar-perfil">
				<img src="static/img/default.png" />
			</figure>
			<h2>
				{{username}}
			</h2>
			<p>
				Descripción.
			</p>
			<ul class="menu-bloques">
				<li class="opcion-menu "><a class="iconos icono-tarjeta" href="/{{username}}/">Mi tarjeta</a></li>
			</ul>
		</div>
		{% block section %}{% endblock %}
	</div>
</div>
{% endblock %}