{% extends 'base_view.html' %}
{% block title %}Perfil de {{username}} - mozArt{% endblock %}
{% block content %}
<div id="blue-navbar" class="categories-navbar">
    <ul>
        <li><a href="{% url 'works:work_user_list' username %}" class="icons todas-icon" title="Todas las categorías"></a></li>
        <li><a href="{% url 'works:work_user_list_category' username 'dibujo-pintura' %}" class="icons dibujo-pintura-icon" title="Dibujo y pintura"></a</li>
        <li><a href="{% url 'works:work_user_list_category' username 'fotografia-filme' %}" class="icons fotografia-filme-icon" title="Fotografía y filme"></a></li>
        <li><a href="{% url 'works:work_user_list_category' username 'teatro-literatura' %}" class="icons teatro-literatura-icon" title="Teatro y literatura"></a></li>
        <li><a href="{% url 'works:work_user_list_category' username 'musica-baile' %}" class="icons musica-baile-icon" title="Música y baile"></a></li>
        <li><a href="{% url 'works:work_user_list_category' username 'escultura-ceramica' %}" class="icons escultura-ceramica-icon" title="Escultura y cerámica"></a></li>
        <li><a href="{% url 'works:work_user_list_category' username 'dibujo-pintura' %}" class="icons arte_digital-icon" title="Arte digital"></a></li>
        <li><a href="{% url 'works:work_user_list_category' username 'otros' %}" class="icons otros-icon" title="Otros"></a></li>
    </ul>
</div>
<mz-toggle-menu id="profile-menu" icon-class-name="{% block icon-class %}{% endblock %}" current-option-text="{% block option-name %}{% endblock %}">
			<li><img id="avatar-usuario" ng-src="{$imagen$}"/></li>
            <li class="menu-option"><a class="icons information-icon" href="{% url 'profiles:settings_account' %}">Editar información</a></li>
            <li class="menu-option"><a class="icons settings-icon" href="{% url 'profiles:settings_password' %}">Cambiar contraseña</a></li>
            <li class="menu-option"><a class="icons settings-icon" href="{% url 'profiles:settings_social' %}">Cuentas vinculadas</a></li>
            {% if user.mozart_user.user_type == 'Artista' %}
            <li class="menu-option"><a class="icons works-icon" href="{% url 'works:settings_works' %}">Mis obras</a></li>
            {% endif %}
        </mz-toggle-menu>
<div id="obras-principal"  ng-init="usuario='{{username}}'">
	<div id="contenedor-principal" ng-controller="mozartUserInformationCtrl">
		<div id="barra-lateral">
			
			<h2 ng-bind="usuario">
			</h2>
			<p ng-bind="descripcion">
			</p>
			<ul class="menu-bloques">
				<li class="opcion-menu "><a class="iconos icono-tarjeta" href="/{{username}}/">Mi tarjeta</a></li>
			</ul>
		</div>
		{% block section %}{% endblock %}
	</div>
</div>
{% endblock %}