{% extends 'profile.html' %}
{% block section %}
<div ng-init="eventsCreator='{{username}}'">
	<section ng-controller="loadEventsCtrl">
    <article class="two-elements event-item" style="background-image:url('{$event.cover$}')" ng-repeat="event in events">
        <div>
            <div class="event-title-date">
                <div class="event-date">
                    {$event.date|date:"d"$}<br/>
                    {$event.date|date:"M"|monthAbbreviation$}
                </div>
                <div class="event-title">{$event.name$}</div>
            </div>
            <div class="event-content">
                <p>{$event.description$}</p>
                <hr/>
                <p>{$event.place$}</p>
                <p>{$event.date$}</p>
                <p>{$event.start_time|hoursMinutes$} - {$event.finish_time|hoursMinutes$}</p>
                <p>Anfitrion: <a ng-href="{$event.userUrl$}">{$event.user$}</a></p>
            </div>
        </div>
    </article><br/>
      <div class="load-more-error" ng-show="showMessage">
        No existen eventos suficientes para cubir la petición. Intenta refrescar la página.
      </div>
      <span class="button load-more-button" ng-click="getEvents()">Mostrar más eventos</span>
    </section>
</div>
{% endblock %}