{% extends 'perfil.html' %}
{% block section %}
<span ng-init="worksCategory='{{category}}';worksAuthor='all'">
<section id="informacion" ng-controller="loadWorksCtrl">
      <article class="work-item" ng-repeat="work in works">
        <div class="work-thumbnail" style="background:url('{$work.cover$}');">
          </div>
        <span class="icons {$work.category$}-icon"></span><a class="work-title" ng-href="{% url 'works:work_user_list' username %}{$work.slug$}" ng-bind="work.title"></a><br/>
        <span class="icons user-icon work-author"><a ng-href="/profiles/{$ work.user $}" ng-bind="work.user"></a></span> el <span class="work-date" ng-bind="work.date.split('T')[0]"></span>
      </article><br/>
      <div class="load-more-error" ng-show="showMessage">
        No existen obras suficientes para cubir la petición. Intenta refrescar la página.
      </div>
      <span class="button load-more-button" ng-click="getWorks()">Mostrar más obras</span>
	</section>
</span>
{% endblock %}