{% extends 'profile.html' %}
{% block section %}<section id="informacion">
			<div class="bloque">
				<h3 class="titulo-caja">Datos personales</h3>
				<div>
					<h4>Nombre completo</h4>
					<span ng-bind="nombrecompleto"></span>
					<h4>Fecha de nacimiento</h4>
					<span ng-bind="fechanacimiento"></span>
					<h4>Sexo</h4>
					<span ng-bind="sexo"></span>
					<h4>Código de país</h4>
					<span ng-bind="cpais"></span>
					<h4>Miembro desde</h4>
					<span ng-bind="fechamozart"></span>
				</div>
			</div>
			<div class="bloque">
				<h3 class="titulo-caja">Contactame</h3>
				<div>
					<h4>Dirección</h4>
					<span ng-bind="domicilio"></span>
					<h4>Email</h4>
					<span ng-bind="email"></span>
					<h4>Telefono</h4>
					<span ng-bind="telefono"></span>
				</div>
			</div>
		</section>
{% endblock %}