{% extends 'profile.html' %}
{% block section %}
<div ng-init="worksCategory='{{category}}';worksAuthor='{{username}}'">
<section ng-controller="loadWorksCtrl">
      <article class="work-item" ng-repeat="work in works">
        <div class="work-thumbnail" style="background:url('{$work.thumbnail$}');">
          <a ng-href="/profiles/{$ user.username $}/works/{$work.slug$}"><span>{$work.work_type | uppercase$}</span>
        </a>
        </div>
        <div class="work-item-information">
          <div class="icons {$work.category$}-icon"><a class="work-title" ng-href="{% url 'works:work_user_list' username %}{$work.slug$}" ng-bind="work.title"></a></div>
          <span class="icons user-icon work-author"><a class="work-author-name" ng-href="/profiles/{$ work.user $}" ng-bind="work.user"></a></span> el <span class="work-date" ng-bind="work.date.split('T')[0]"></span>
        </div>
      </article><br/>
      <div class="load-more-error" ng-show="showMessage">
        No existen obras suficientes para cubir la petición. Intenta refrescar la página.
      </div>
      <span class="button load-more-button" ng-click="getWorks()">Mostrar más obras</span>
	</section>
</div>
{% endblock %}