{% extends 'base_view.html' %}
{% load thumbnail %}
{% block title %}Promotores - mozArt{% endblock %}
{% block content %}
    <mz-toggle-container>
        <mz-toggle-menu icon-class-name="user-icon" current-option-text="Ver promotores">
            <ul>
                <li class="menu-option"><a class="icons user-icon" style="color:orange;font-weight:bold;" href="/promoters">Ver promotores</a></li>
                <li class="menu-option"><a class="icons events-icon" href="/events">Ver eventos</a></li>
            </ul>
        </mz-toggle-menu>
    </mz-toggle-container>

    <section id="settings-content" style="background:none" class="text-center" ng-controller="loadPromotersCtrl">
    	<article style="margin: 10px;" class="promoter-item" ng-repeat="user in promoters">
            <a ng-href="{$user.userUrl$}"><div class="promoter-thumbnail" style="background:url('{$user.picture$}');"></div></a>
            <div class="work-item-information">
                <span class="icons user-icon"><a class="work-author-name" ng-href="{$user.userUrl$}" ng-bind="user.user"></a></span>
            </div>
        </article><br/>
        <div class="load-more-error" ng-show="showMessage">
          No existen usuarios suficientes para cubir la petición. Intenta refrescar la página.
        </div>
        <span class="button load-more-button" ng-click="getUsers()">Mostrar más usuarios</span>
    </section>

{% endblock %}