{% extends 'base_view.html' %}
{% block title %}Registro - mozArt{% endblock %}
{% block content %}
    <section id="section-general" ng-controller="formularioRegistroCtrl">
      <div class="formulario">
        <h2>Formulario de registro</h2>
        <form id="registro" name="registro" ng-submit="validar()" novalidate>
          <a href="/cuentas">Conoce más sobre los tipos de cuenta</a>
          <div class="un-cuadro s-mzfield">
            <label for="tipo" class="etiqueta-input">Tipo</label>
            <select id="tipo" class="cuadrotexto mz-field" name="tipo" required ng-model="tipo">
              <option value="" disabled default>Seleccionar tipo de cuenta</option>
              <option value="Artista">Artista</option>
              <option value="Promotor">Promotor</option>
            </select>
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="email" class="etiqueta-input">Email</label>
            <input id="email" class="cuadrotexto mz-field" type="email" name="email" placeholder="Escribe tu email" ng-model="email" ng-change="verificarEmail()" required />
          </div>
          <div class="aviso-error" ng-hide="emailValido">El email que escribiste ya esta registrado en mozArt.</div>
          <div class="un-cuadro s-mzfield">
            <label for="nickname" class="etiqueta-input">Nickname</label>
            <input id="nickname" type="text" class="cuadrotexto mz-field" name="nickname" placeholder="Elije un nickname de usuario" ng-model="nickname" ng-minlength="4" ng-maxlength="20" ng-change="verificarNickname()" required />
          </div>
          <div class="aviso-error" ng-hide="nicknameValido">El nickname que escribiste no se encuentra disponible.</div>
          <div class="un-cuadro s-mzfield">
            <label for="password" class="etiqueta-input">Password</label>
            <input id="password" type="password" class="cuadrotexto mz-field"  name="password" placeholder="Elije una contraseña" ng-minlength="8" ng-maxlength="40" ng-model="password" required />
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="vpassword" class="etiqueta-input">Verificación</label>
            <input id="vpassword" type="password" class="cuadrotexto mz-field"  name="vpassword" placeholder="Vuelve a escribir tu contraseña" ng-model="vpassword" required comparar="password"/>
          </div>
          <div class="aviso-error" ng-show="registro.vpassword.$error.noIguales">La contraseña no coincide.</div>
          Fecha de nacimiento<br/>
          <div class="triple-cuadro iblock">
            <label for="dia" class="etiqueta-input">Día</label>
            <input id="dia" class="cuadrotexto mz-field" type="number" min="1" max="31" name="dia" required ng-model="dia" placeholder="Escribe el día" ng-change="validarFecha()" value="1"/>
          </div>
          <div class="triple-cuadro iblock">
            <label for="mes" class="etiqueta-input">Mes</label>
            <select id="mes" class="cuadrotexto mz-field" name="mes" ng-click="alert('holis');" required ng-model="mes" ng-change="validarFecha()">
              <option value="" disabled default>Seleccionar</option>
              <option value="01" selected>Enero</option>
              <option value="02">Febrero</option>
              <option value="03">Marzo</option>
              <option value="04">Abril</option>
              <option value="05">Mayo</option>
              <option value="06">Junio</option>
              <option value="07">Julio</option>
              <option value="08">Agosto</option>
              <option value="09">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </div>
          <div class="triple-cuadro iblock">
            <label for="year" class="etiqueta-input">Año</label>
            <input id="year" class="cuadrotexto mz-field" type="number" name="year" min="{$this_year - 100$}" max="{$this_year - 18$}"  required ng-model="year" placeholder="Escribe el año" ng-change="validarFecha()" value="1990"/>
          </div>
          <div class="aviso-error" ng-hide="fechaValida">La fecha que introduciste no es valida</div>
          <div class="aviso-error" ng-hide="mayorEdad">Lo sentimos, debes ser mayor de edad para poder registrarte</div>
          <p><input type="checkbox" name="acepto" ng-model="acepto" required/>Acepto ser <a href="#" title="¿Por qué?">mayor de edad</a>, además de haber leído y estar de acuerdo con las <a href="#">Políticas, terminos y condiciones</a> de mozArt.</p>
          <button type="submit" class="boton boton-verde" name="Enviar" ng-disabled="!validar()">Registrarse</button>
        </form>
      </div>
    </section>
{% endblock %}