{% extends 'base_view.html' %}
{% block title %}Resultados de busqueda - mozArt{% endblock %}
{% block content %}
	<div id="search-section" ng-controller="searchResultsCtrl">
		<div class="slide-button" ng-click="results.alternateResults()">
				<span class="active-option" ng-class="results.aciveOptionClass" ng-bind="results.aciveOptionText"></span>
				<span class="non-active-option" ng-class="results.nonAciveOptionClass" ng-bind="results.nonAciveOptionText"></span>
			</div><br/>
		<section id="works-search-results" ng-show="results.showWorks">
			{% for work in works %}
			
			<article class="work-item">
	          <div class="work-thumbnail" style="background:url('{{work.thumbnail}}');">
	            <a href="{%url 'works:work_user_detail' work.user work.slug %}"><span>{{work.work_type|upper}}</span>
	          </a>
	          </div>
	          <div class="work-item-information">
	            <div class="icons {{work.category}}-icon"><a class="work-title" href="{%url 'works:work_user_detail' work.user work.slug %}">{{work.title}}</a></div>
	            <span class="icons user-icon"><a class="work-author-name" href="{%url 'profiles:user_profile' work.user %}">{{work.user}}</a></span> el <span class="work-date">{{work.date|date:"Y-m-d"}}</span>
	          </div>
	        </article>
			{% empty %}
				<p>No se encontraron obras</p>
			{% endfor %}
			</section>
			<section id="users-search-results" ng-show="results.showUsers">
			{% for user in users %}
				<span class="icons user-icon"> {{user.username}} </span>
			{% empty %}
				No se encontraron Usuarios
			{% endfor %}
</section>
	</div>
{% endblock %}