{% extends 'base_view.html' %}
{% block content %}
    <mz-toggle-container>
        <mz-toggle-menu icon-class-name="{% block icon-class %}{% endblock %}" current-option-text="{% block option-name %}{% endblock %}">
            <ul>
                <li class="menu-option"><a class="icons information-icon" href="{% url 'profiles:settings_account' %}">Editar información</a></li>
                <li class="menu-option"><a class="icons settings-icon" href="{% url 'profiles:settings_password' %}">Cambiar contraseña</a></li>
                <li class="menu-option"><a class="icons settings-icon" href="{% url 'profiles:settings_social' %}">Cuentas vinculadas</a></li>
                {% if user.mozart_user.user_type == 'Artista' %}
                <li class="menu-option"><a class="icons works-icon" href="{% url 'works:settings_works' %}">Mis obras</a></li>
            </ul>
            {% endif %}
        </mz-toggle-menu>
    </mz-toggle-container>
    <div id="settings-content">
      {% block section %}{% endblock %}
    </div>
  {% endblock %}
