{% extends 'settings.html' %}
{% block title %}Editar información - mozArt{% endblock %}
{% load thumbnail %}
{% load static %}
{% block icon-class %}information-icon{% endblock %}
{% block option-name %}Editar informacion{% endblock %}
{% block section %}<h1>Editar información</h1>
{% if form.non_field_errors %}
    {% ifnotequal form.non_field_errors.as_text|cut:"* " "$message" %}
    <div class="aviso-error">
      {{form.non_field_errors.as_text|cut:"$message"|cut:"* "}}
    </div>
  {% endifnotequal %}
{% endif %}
  <form action="" method="post" id="id_informationform" name="{{form.form_name}}" enctype="multipart/form-data" ng-controller="editInformationCtrl">
  {% csrf_token %}
        <fieldset>
          <legend>Editar datos</legend>
          <div class="un-cuadro s-mzfield">
            <label for="id_username" class="etiqueta-input">Nickname</label>
              {{form.username}}
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_first_name" class="etiqueta-input">Nombre(s)</label>
              {{form.first_name}}
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_last_name" class="etiqueta-input">Apellido(s)</label>
              {{form.last_name}}
          </div>
          <h4>Imagen de perfil</h4>
          {% if not user.mozart_user.profile_picture %}
            <img src="{% static "img/default.png" %}" width="250px"/><br/>
          {% else %}
            {% thumbnail user.mozart_user.profile_picture "250x250" crop="center" as im %}
            <img src="{{ im.url }}"/><br/>
            {% endthumbnail %}
          {% endif %}
          <div class="boton boton-azul">
            <span>Cambiar imagen</span>
            {{form.profile_picture}}
          </div><br/>
          <div ng-show="mostrarTexto()">
            <strong>Archivo seleccionado: </strong> 
            <span ng-bind="imagen.name"></span>
          </div>
          <div class="aviso-error" ng-show="mostrarMensaje()">
            El archivo que seleccionaste no es un archivo de imagen soportado por mozArt.
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_nationality" class="etiqueta-input">País</label>
              {{form.nationality}}
          </div>
          <label for="id_description">Descripción</label><br/>
          {{form.description}}
          
        </fieldset>
        <fieldset>
          <legend>Contacto</legend>
          <div class="un-cuadro s-mzfield">
            <label for="id_personal_homepage" class="etiqueta-input">Sitio web</label>
             {{form.personal_homepage}}
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_phone_number" class="etiqueta-input">Teléfono</label>
              {{form.phone_number}}
          </div>
        </fieldset>
        <fieldset>
          <legend>Domicilio</legend>
          <div class="un-cuadro s-mzfield">
            <label for="id_adress" class="etiqueta-input">Dirección</label>
             {{form.adress}}
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_city" class="etiqueta-input">Ciudad</label>
              {{form.city}}
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_zip_code" class="etiqueta-input">Código postal</label>
             {{form.zip_code}}
          </div>
          <div class="un-cuadro s-mzfield">
            <label for="id_neighborhood" class="etiqueta-input">Vecindario</label>
              {{form.neighborhood}}
          </div>
        </fieldset>
        <h4>Escribe tu contraseña para guardar los cambios</h4>
        <div class="un-cuadro s-mzfield">
            <label for="id_password" class="etiqueta-input">Password</label>
              {{form.password}}
          </div>
        <button type="submit" ng-disabled="!validar()" class="boton boton-verde">Guardar cambios</button>
      </form>{% endblock %}