{% extends 'settings.html' %}
{% block title %}Mis obras - mozArt{% endblock %}

{% block icon-class %}works-icon{% endblock %}
{% block option-name %}Mis obras{% endblock %}

{% block section %}<div ng-init="worksCategory='all';worksAuthor='{{username}}'"><div ng-controller="loadWorksCtrl" class="text-center">
<h2>Mis obras</h2><article class="work-item" ng-repeat="work in works">
        <a ng-href="/profiles/{$ work.user $}/works/{$work.slug$}">
        <div class="work-thumbnail" style="background:url('{$work.cover$}');">
          <span>{$work.work_type | uppercase$}</span>
        </div>
        </a>
        <div class="work-item-information">
          <div class="icons {$work.category$}-icon"><a class="work-title" ng-href="{% url 'works:work_user_list' username %}{$work.slug$}" ng-bind="work.title"></a></div>
          Creada el <span class="work-date" ng-bind="work.date.split('T')[0]"></span>
          <div class="float-right" style="margin-top:5px" ng-controller="toggleCtrl">
            <a class="thin-button okay-button" ng-href="{% url 'works:settings_works' %}{$work.slug$}">Editar</a>
            <mz-triggered-decision-modal modal-title="¿Seguro de que quieres eliminar esta obra?" cancel-text="No" okay-text="Si" okay-link="/delete/work/{$work.slug$}" trigger-text="Eliminar" trigger-button-class="cancel" trigger-button-weight="thin-button">
              Ya no podrás iniciar sesión con ella, pero podrás revincularla en cualquier momento si así lo deseas.
            </mz-triggered-decision-modal>
          </div>
        </div>
      </article><br/>
      <div class="form-error" ng-show="mostrarMensaje">
        No existen obras suficientes para cubir la petición. Intenta refrescar la página.
      </div>
      <button class="button load-more-button" ng-click="cargar()">Cargar más obras</button>
    </div></div>
    {% endblock %}
