{% extends 'settings.html' %}
{% block title %}Editar obra - mozArt{% endblock %}
{% block section %}
        {% if form.non_field_errors %}
    {% ifnotequal form.non_field_errors.as_text|cut:"* " "$message" %}
    <div class="aviso-error">
      {{form.non_field_errors.as_text|cut:"$message"|cut:"* "}}
    </div>
  {% endifnotequal %}
{% endif %}<form action="" method="post" id="id_{{form.form_name}}" name="{{form.form_name}}" novalidate ng-controller="{{form.form_controller}}" class="text-center">
          <h2>Editar obra</h2>
          {% csrf_token %}
          <div class="mozart-field-container one-element initial-state">
            <label for="id_title" class="mozart-label non-active-label">Tipo</label>
            {{form.title}}
          </div>
          <div ng-show="{{form.form_name}}.title.$error.required && {{form.form_name}}.title.$dirty" class="form-error">
            Este campo es obligatorio.
          </div>
          <div ng-show="{{form.form_name}}.title.$error.minlength" class="form-error">
            El título debe contener al menos 4 carácteres.
          </div>
          <div ng-show="{{form.form_name}}.title.$error.maxlength" class="form-error">
            El título debe contener a lo mucho 40 carácteres.
          </div>
          <div class="mozart-field-container one-element initial-state">
            <label for="id_description" class="mozart-label non-active-label">Descripción de la obra</label>
            {{form.description}}
          </div>
          <div ng-show="{{form.form_name}}.description.$error.required && {{form.form_name}}.description.$dirty" class="form-error">
            Este campo es obligatorio.
          </div>
          <div ng-show="{{form.form_name}}.description.$error.maxlength" class="form-error">
            La descripción debe contener a lo más 1000 carácteres.
          </div>
          <div class="mozart-field-container one-element initial-state">
            <label for="id_category" class="mozart-label non-active-label">Categoría</label>
            {{form.category}}
          </div>
           <div ng-show="{{form.form_name}}.category.$error.required && {{form.form_name}}.category.$dirty" class="form-error">
            Debes seleccionar una categoría.
          </div>
          <button class="button submit-button" type="submit" ng-disabled="!validate()" name="Subir obra">Editar obra</button>
        </form>
    {% endblock %}
