{% extends 'base_view.html'%}
{% block title %}Crear Obra - mozArt{% endblock %}
{% block content %}<section id="section-general" ng-controller="subirObraCtrl">
      <div class="formulario">
        <h2>Crear obra</h2>
        <form action="" method="post" enctype="multipart/form-data" id="id_workform" name="{{form.form_name}}" novalidate>
          {% csrf_token %}
          <div class="un-cuadro s-mzfield">
            <label for="id_title" class="etiqueta-input">Título</label>
            {{form.title}}
          </div>
            <label for="id_description">Descripción de la obra</label><br/>
            {{form.description}}
          <div class="un-cuadro s-mzfield">
            <label for="id_category" class="etiqueta-input">Categoría</label>
            {{form.category}}
          </div>
          <div class="boton boton-azul">
            <span>Seleccionar archivo</span>
            {{form.archive}}
          </div><br/>
          <div ng-show="mostrarTexto1()">
            <strong>Archivo seleccionado: </strong>
            <span ng-bind="archivo.name"></span>
          </div>
          <div class="aviso-error" ng-show="mostrarMensaje1()">
            El archivo que seleccionaste no es soportado por mozArt.
          </div>
          <div ng-show="mostrarBoton2()">
            <div class="boton boton-azul">
              <span>Seleccionar portada</span>
              {{form.cover}}
            </div>
            <div ng-show="mostrarTexto2()">
              <strong>Imagen de portada seleccionada: </strong>
              <span ng-bind="portada.name"></span>
            </div>
            <div class="aviso-error" ng-show="mostrarMensaje2()">
              El archivo que seleccionaste no es un archivo de imagen valido.
            </div>
          </div>
          <button class="boton boton-verde" type="submit" ng-disabled="!validar()" name="Subir obra">Subir obra</button>
        </form>
      </div>
    </section>{% endblock %}