{% extends 'base_settings.html' %}

{% load static from staticfiles %}
{% load thumbnail %}

{% block title %} Editar información - mozArt {% endblock %}

{% block icon-class %} information-icon {% endblock %}
{% block option-name %} Editar información {% endblock %}

{% block section %}
  <form class="text-center" action="" method="post" id="id_{{form.form_name}}" name="{{form.form_name}}" enctype="multipart/form-data" ng-controller="{{form.form_controller}}">
  	{% csrf_token %}
    <fieldset class="two-elements">
    	<legend> Imagen de perfil </legend>
      {% if not user.extendeduser.profile_picture %}
	      <img class="circle" src="{% static "img/default.png" %}" width="250px"/><br/>
      {% else %}
        {% thumbnail user.extendeduser.profile_picture "250x250" crop="center" as im %}
	      	<img class="circle" src="{{ im.url }}"/>
					<br/>
	      {% endthumbnail %}
      {% endif %}
      <div class="button file-button">
        <span>
					Cambiar imagen
				</span>
        {{ form.profile_picture }}
      </div>
			<br/>
      <div ng-show="showText()">
        <strong> Archivo seleccionado: </strong>
        <span ng-bind="image.name"></span>
      </div>
      <div class="form-error" ng-show="showMessage()">
        El archivo que seleccionaste no es un archivo de imagen soportado por mozArt.
      </div>
    </fieldset>
    <fieldset class="two-elements">
      <legend> Datos básicos </legend>
      <div class="mozart-field-container one-element">
        <label for="id_username" class="mozart-label initial-label"> Nickname * </label>
        {{ form.username }}
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.username.$error.pattern">
        El nombre de usuario no puede contener acentos, espacios ni caracteres especiales.
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.username.$error.required && {{form.form_name}}.username.$dirty">
				No puedes dejar este campo vacío.
			</div>

      <div class="form-error" ng-show="{{form.form_name}}.username.$error.minlength">
        El username debe contener al menos 5 carácteres.
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.username.$error.maxlength">
        El username debe contener máximo 20 carácteres.
      </div>

      <div class="mozart-field-container one-element">
        <label for="id_first_name" class="mozart-label initial-label"> Nombre(s) </label>
        {{ form.first_name }}
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.first_name.$error.pattern">
        Los nombres no pueden contener numeros ni caracteres especiales.
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.first_name.$error.minlength">
        Este campo debe contener al menos 3 carácteres.
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.first_name.$error.maxlength">
        Este campo debe contener máximo 50 carácteres.
      </div>

      <div class="mozart-field-container one-element">
        <label for="id_last_name" class="mozart-label initial-label"> Apellido(s) </label>
        {{ form.last_name }}
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.last_name.$error.pattern">
        Los apellidos no pueden contener numeros ni caracteres especiales.
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.last_name.$error.minlength">
        Este campo debe contener al menos 3 carácteres.
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.last_name.$error.maxlength">
        Este campo debe contener máximo 50 carácteres.
      </div>

      <div class="mozart-field-container one-element">
        <label for="id_nationality" class="mozart-label non-active-label"> País </label>
        {{ form.nationality }}
      </div>

      <div class="mozart-field-container one-element">
        <label for="id_description" class="mozart-label initial-label"> Descripción </label>
        {{ form.description }}
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.description.$error.pattern">
        La descripción no pueden contener numeros ni caracteres especiales.
      </div>
    </fieldset>
    <fieldset class="two-elements">
  		<legend> Contacto </legend>
			<div class="mozart-field-container one-element">
				<label for="id_personal_homepage" class="mozart-label initial-label"> Sitio web </label>
				{{ form.personal_homepage }}
			</div>
			<div class="form-error" ng-show="{{form.form_name}}.$error.url">
				Debes introducir una URL.
			</div>
			<div class="mozart-field-container one-element">
				<label for="id_phone_number" class="mozart-label initial-label"> Teléfono </label>
				{{ form.phone_number }}
			</div>
			<div class="form-error" ng-show="{{form.form_name}}.phone_number.$error.max">
				El teléfono debe contener máximo 10 dígitos.
			</div>
			<div class="form-error" ng-show="{{form.form_name}}.phone_number.$error.number">
				Solo puedes introducir numeros.
			</div>
      Si introduces menos de 10 dígitos, todos los espacios a la izquierda serán llenados con 0's.
  	</fieldset>
    <fieldset class="two-elements">
      <legend> Domicilio </legend>
      <div class="mozart-field-container one-element">
        <label for="id_address" class="mozart-label initial-label"> Dirección </label>
        {{ form.address }}
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.address.$error.pattern">
        La dirección solo puede contener letras, numeros, espacios y el símbolo #.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.address.$error.minlength">
        La dirección debe contener mínimo 10 carácteres.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.address.$error.maxlength">
        La dirección debe contener máximo 100 carácteres.
      </div>
      <div class="mozart-field-container one-element">
        <label for="id_city" class="mozart-label initial-label"> Ciudad </label>
        {{ form.city }}
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.city.$error.pattern">
        La ciudad solo puede contener letras, numeros y espacios.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.city.$error.minlength">
        El nombre de la ciudad debe contener mínimo 5 carácteres.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.city.$error.maxlength">
        El nombre de la ciudad debe contener máximo 30 carácteres.
      </div>
      <div class="mozart-field-container one-element">
        <label for="id_zip_code" class="mozart-label initial-label"> Código postal </label>
        {{ form.zip_code }}
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.zip_code.$error.pattern">
        El código postal solo puede contener numeros y el guión -.
      </div>
			<div class="form-error" ng-show="{{form.form_name}}.zip_code.$error.minlength">
				El código postal debe contener mínimo 5 carácteres.
			</div>
      <div class="form-error" ng-show="{{form.form_name}}.zip_code.$error.maxlength">
        El código postal debe contener máximo 10 carácteres.
      </div>
      <div class="mozart-field-container one-element">
        <label for="id_neighborhood" class="mozart-label initial-label"> Vecindario </label>
        {{ form.neighborhood }}
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.neighborhood.$error.pattern">
        El vecindario solo puede contener letras, numeros y espacios.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.neighborhood.$error.minlength">
        El vecindario debe contener mínimo 4 carácteres.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.neighborhood.$error.maxlength">
        El vecindario debe contener máximo 200 carácteres.
      </div>
    </fieldset>
	  <fieldset>
	    <h4> Escribe tu contraseña para guardar los cambios </h4>
	    <div class="mozart-field-container one-element">
	      <label for="id_password" class="mozart-label initial-label"> Password * </label>
	      {{ form.password }}
	    </div>
	    <div class="form-error" ng-show="{{form.form_name}}.password.$error.required && {{form.form_name}}.password.$dirty">
				No puedes dejar este campo vacío.
			</div>
	    <div class="form-error" ng-show="{{form.form_name}}.password.$error.minlength">
	      La contraseña debe contener al menos 6 carácteres.
	    </div>
	    <button type="submit" ng-disabled="!validate()" class="button submit-button"> Guardar cambios </button>
	  </fieldset>
  </form>
	{% if messages %}
    <as-modal-container trigger="false">
      <as-modal-dialog modal-title="Done">
        {% for message in messages %}
          <div id="message_{{ forloop.counter }}"
            {% if message.tags %}
              class="{{ message.tags }}"
            {% endif %}>
            {{ message }}
          </div>
        {% endfor %}
      </as-modal-dialog>
    </as-modal-container>
    {% endif %}
{% endblock %}
