{% extends 'base_settings.html' %}

{% block title %} Cambiar contraseña - mozArt {% endblock %}

{% block icon-class %} settings-icon {% endblock %}
{% block option-name %} Cambiar contraseña {% endblock %}

{% block section %}
  {% if form.non_field_errors %}
      {% ifnotequal form.non_field_errors.as_text|cut:"* " "$message" %}
  	    <div class="aviso-error">
  	      {{ form.non_field_errors.as_text|cut:"$message"|cut:"* " }}
  	    </div>
  		{% endifnotequal %}
  {% endif %}
  <div class="settings-form">
		<form class="mozart-form" action="" method="post" id="id_{{form.form_name}}" name="{{form.form_name}}">
		{% csrf_token %}
	    <h2> Cambiar contraseña </h2>

			<div class="mozart-field-container one-element">
				<label for="id_old_password" class="mozart-label initial-label"> Actual </label>
	      {{ form.old_password }}
	    </div>
	    <div class="form-error" ng-show="{{form.form_name}}.old_password.$error.required && {{form.form_name}}.old_password.$dirty">
				No puedes dejar este campo vacío.
			</div>
	    <div class="form-error" ng-show="{{form.form_name}}.old_password.$error.minlength">
	      La contraseña debe contener al menos 6 carácteres.
	    </div>
	    <div class="form-error" ng-show="{{form.form_name}}.old_password.$error.maxlength">
	      La contraseña debe contener máximo 30 carácteres.
	    </div>

			<div class="mozart-field-container one-element">
				<label for="id_new_password_1" class="mozart-label initial-label"> Nueva </label>
	      {{ form.new_password_1 }}
	    </div>
	    <div class="form-error" ng-show="{{form.form_name}}.new_password_1.$error.required && {{form.form_name}}.new_password_1.$dirty">
				No puedes dejar este campo vacío.
			</div>
	    <div class="form-error" ng-show="{{form.form_name}}.new_password_1.$error.minlength">
	      La contraseña debe contener al menos 6 carácteres.
	    </div>
	    <div class="form-error" ng-show="{{form.form_name}}.new_password_1.$error.maxlength">
	      La contraseña debe contener máximo 30 carácteres.
	    </div>

			<div class="mozart-field-container one-element">
				<label for="id_new_password_2" class="mozart-label initial-label"> Verificar </label>
	      {{ form.new_password_2 }}
	    </div>
	    <div class="form-error" ng-show="{{form.form_name}}.new_password_2.$error.required && {{form.form_name}}.new_password_2.$dirty">
				No puedes dejar este campo vacío.
			</div>
			<div class="form-error" ng-show="{{form.form_name}}.new_password_2.$error.match && {{form.form_name}}.new_password_2.$dirty">
	      La contraseña no coincide.
	    </div>
			<button type="submit" ng-disabled="{{form.form_name}}.$invalid" class="button submit-button"> Guardar cambios </button>
			</form>
		</div>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li id="message_{{ forloop.counter }}"
            {% if message.tags %}
              class="{{ message.tags }}"
            {% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
{% endblock %}
