{% extends 'base_settings.html' %}

{% block title %} accounts vinculadas - mozArt {% endblock %}

{% block icon-class %} settings-icon {% endblock %}
{% block option-name %} Cuentas vinculadas {% endblock %}

{% block section %}
	<fieldset class="one-element social-container">
		<legend> Cuentas vinculadas </legend>
		<ul class="social-media-box">
			{% for account in accounts %}
				{% if account.provider = 'facebook' %}
					<li class="icons facebook-icon social-item">
						<div class="social-media-name">
							<a class="facebook-text" target="_blank" href="{{ account.facebookauth.profile_url }}">
								{{ account.facebookauth.network_username }}
							</a>
						</div>
				{% elif  account.provider = 'twitter' %}
					<li class="icons twitter-icon social-item">
						<div class="social-media-name">
							<a class="twitter-text" target="_blank" href="{{ account.twitterauth.profile_url }}">
								{{ account.twitterauth.network_username }}
							</a>
						</div>
				{% elif account.provider = 'google-oauth2' %}
					<li class="icons google-icon social-item">
						<div class="social-media-name">
							<a class="google-text" target="_blank" href="{{ account.googleauth.profile_url }}">
								{{ account.googleauth.network_username }}
							</a>
						</div>
				{% endif %}
					<as-modal-container trigger="true">
			            <as-modal-trigger class="social-media-delete-button" display="inline" size="medium" color="red">
			              x
			            </as-modal-trigger>
			            <as-modal-dialog type="desition" accept-color="red" mode="link" action="{% url 'profiles:social_delete' account.provider account.id %}" modal-title="¿Seguro de que quieres desvincular esta cuenta?" accept-text="Si" cancel-text="No">
			              Ya no podrás iniciar sesión con ella, pero podrás revincularla en cualquier momento si así lo deseas.
			            </as-modal-dialog>
			        </as-modal-container>
				</li>
			{% empty %}
			<li>
				Por el momento no tienes ninguna cuenta vinculada.
			</li>
			{% endfor %}
		</ul>
		Una vez que vincules tus redes sociales con mozArt, podrás iniciar sesión con cualquiera de ellas.<br/>
	</fieldset>
  <div class="social-login-box">
    <h2> Vincular otra cuenta </h2>
    <a class="social-link icons facebook-icon" href="{% url 'social:begin' 'facebook' %}">
			Vincular Facebook
		</a>
    <a class="social-link icons twitter-icon" href="{% url 'social:begin' 'twitter' %}">
			Vincular Twitter
		</a>
    <a class="social-link icons google-icon" href="{% url 'social:begin' 'google-oauth2' %}">
			Vincular Google
		</a>
		<br/>
    Powered by Kiwi®
	</div>
{% endblock %}
