{% extends 'base.html' %}

{% load thumbnail %}
{% load static %}

{% block title %} Explorar - mozArt {% endblock %}

{% block content %}
  <div id="blue-navbar" class="categories-navbar">
    <ul>
        <li>
          <a href="{% url 'works:work_list' %}" class="icons todas-icon" title="Todas las categorías"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'drawing-painting' %}" class="icons dibujo-pintura-icon" title="Dibujo y pintura"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'photography-film' %}" class="icons fotografia-filme-icon" title="Fotografía y filme"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'theater-literature' %}" class="icons teatro-literatura-icon" title="Teatro y literatura"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'music-dance' %}" class="icons musica-baile-icon" title="Música y baile"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'sculpture-ceramics' %}" class="icons escultura-ceramica-icon" title="Escultura y cerámica"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'digital_art' %}" class="icons arte_digital-icon" title="Arte digital"></a>
        </li>
        <li>
          <a href="{% url 'works:work_list_category' 'other' %}" class="icons otros-icon" title="Otros"></a>
        </li>
    </ul>
  </div>
  <div>
    <section id="blue-navbar-section" ng-controller="loadWorksCtrl" >
      <article class="work-item" ng-repeat="work in works">
        <div class="work-thumbnail" style="background:url('{$ work.cover $}');">
          <a ng-href="{$ work.workUrl $}">
            <span>
              {$ work.work_type | uppercase $}
            </span>
          </a>
        </div>
        <div class="work-item-information">
          <div class="icons {$ work.category $}-icon">
            <a class="work-title" ng-href="{$work.workUrl$}" ng-bind="work.title"></a>
          </div>
          <span class="icons user-icon">
            <a class="work-author-name" ng-href="{$ work.userUrl $}" ng-bind="work.user"></a>
          </span>
          el <span class="work-date" ng-bind="work.date.split('T')[0]"></span>
        </div>
      </article><br/>
      <div class="load-more-error" ng-show="showMessage">
        No existen obras suficientes para cubir la petición. Intenta refrescar la página.
      </div>
      <span class="button load-more-button" ng-click="getWorks()">
        Mostrar más obras
      </span>
    </section>
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li id="message_{{ forloop.counter }}"
          {% if message.tags %}
            class="{{ message.tags }}"
          {% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
