{% extends 'base_settings.html' %}

{% block title %} Mis obras - mozArt {% endblock %}

{% block icon-class %} works-icon {% endblock %}
{% block option-name %} Mis obras {% endblock %}

{% block section %}
  <div ng-init="worksCategory='all';worksAuthor='{{username}}'"><div ng-controller="loadWorksCtrl" class="text-center">
    <h2> Mis obras </h2>
    <article class="work-item" ng-repeat="work in works">
      <a ng-href="/profiles/{$ work.user $}/works/{$work.slug$}">
        <div class="work-thumbnail" style="background:url('{$work.cover$}');">
          <span>
            {$work.work_type | uppercase$}</span>
        </div>
      </a>
      <div class="work-item-information">
        <div class="icons {$work.category$}-icon">
          <a class="work-title" ng-href="{% url 'works:work_user_list' username %}{$work.slug$}" ng-bind="work.title"></a>
        </div>
        Creada el <span class="work-date" ng-bind="work.date.split('T')[0]"></span>
        <div class="float-right" style="margin-top:5px" ng-controller="toggleCtrl">
          <a class="thin-button okay-button" ng-href="{% url 'works:work_settings' %}{$work.slug$}">
            Editar
          </a>
          <as-modal-container trigger="true">
            <as-modal-trigger display="inline" size="small" color="red">
              Eliminar
            </as-modal-trigger>
            <as-modal-dialog type="desition" accept-color="red" mode="link" action="/delete/work/{$work.slug$}" modal-title="¿Seguro de que quieres eliminar esta obra?" accept-text="Si" cancel-text="No">
              Una vez que la obra sea eliminada, no podrás recuperarla.
            </as-modal-dialog>
          </as-modal-container>
        </div>
      </div>
    </article>
    <br/>
    <div class="form-error" ng-show="mostrarMensaje">
      No existen obras suficientes para cubir la petición. Intenta refrescar la página.
    </div>
    <button class="button load-more-button" ng-click="cargar()"> Cargar más obras </button>
    </div>
  </div>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li id="message_{{ forloop.counter }}"
          {% if message.tags %}
            class="{{ message.tags }}"
          {% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
