{% extends 'base.html'%}

{% block title %} Crear Evento - mozArt {% endblock %}

{% block content %}
  <div class="mozart-form">
    <h2> Crear evento </h2>
    {% if form.non_field_errors %}
      {% ifnotequal form.non_field_errors.as_text|cut:"* " "$message" %}
        <mz-basic-okay-modal modal-title="No se pudo crear el evento." okay-text="Entendido">
          {{ form.non_field_errors.as_text|cut:"$message"|cut:"* " }}
        </mz-basic-okay-modal>
      {% endifnotequal %}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" id="id_{{form.form_name}}" name="{{form.form_name}}" novalidate ng-controller="{{form.form_controller}}">
      {% csrf_token %}
      <div class="mozart-field-container one-element">
        <label for="id_name" class="mozart-label initial-label"> {{ form.name.label }} </label>
        {{ form.name }}
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.name.$error.pattern">
        El titulo del evento solo puede contener letras, numeros y espacios.
      </div>
      <div ng-show="{{form.form_name}}.name.$error.required && {{form.form_name}}.name.$dirty" class="form-error">
        Este campo es obligatorio.
      </div>
      <div ng-show="{{form.form_name}}.name.$error.minlength" class="form-error">
        El título debe contener al menos 4 carácteres.
      </div>
      <div ng-show="{{form.form_name}}.name.$error.maxlength" class="form-error">
        El título debe contener a lo mucho 40 carácteres.
      </div>
      <div class="mozart-field-container one-element">
        <label for="id_description" class="mozart-label initial-label"> {{ form.description.label }} </label>
        {{ form.description }}
      </div>

      <div class="form-error" ng-show="{{form.form_name}}.description.$error.pattern">
        La descripción del evento solo puede contener letras, numeros, espacios y el símbolo #.
      </div>
      <div ng-show="{{form.form_name}}.description.$error.required && {{form.form_name}}.description.$dirty" class="form-error">
        Este campo es obligatorio.
      </div>
      <div ng-show="{{form.form_name}}.description.$error.maxlength" class="form-error">
        La descripción debe contener a lo más 1000 carácteres.
      </div>
      <div class="mozart-field-container one-element">
        <label for="id_place" class="mozart-label initial-label">{{ form.place.label }}</label>
        {{ form.place }}
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.place.$error.pattern">
        El nombre del lugar del evento solo puede contener letras, numeros, espacios y el símbolo #.
      </div>
      <div ng-show="{{form.form_name}}.place.$error.minlength" class="form-error">
        El nombre del lugar debe contener al menos 4 carácteres.
      </div>
      <div ng-show="{{form.form_name}}.place.$error.maxlength" class="form-error">
        El nombre del lugar debe contener a lo mucho 200 carácteres.
      </div>
      Fecha y hora
      <br/>
      <div class="mozart-field-container three-elements ">
        <label for="id_date" class="mozart-label non-active-label">{{ form.date.label }}</label>
        {{ form.date }}
      </div>

			<div class="mozart-field-container three-elements ">
        <label for="id_start_time" class="mozart-label non-active-label">{{ form.start_time.label }}</label>
        {{ form.start_time }}
      </div>

      <div class="mozart-field-container three-elements ">
        <label for="id_finish_time" class="mozart-label non-active-label">{{ form.finish_time.label }}</label>
        {{ form.finish_time }}
      </div>
      <div class="form-error" ng-show="!validDate">
        El evento debe realizarse al menos un día después de su registro en mozArt.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.start_time.$error.required">
        Es obligatorio colocar una hora de inicio.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.finish_time.$error.required">
        Es obligatorio colocar una hora de termino.
      </div>
      <div class="form-error" ng-show="{{form.form_name}}.start_time.$error.pattern || {{form.form_name}}.finish_time.$error.pattern">
        Las horas de inicio y termino debe tener un formato HH:MM.
      </div>
      <div class="form-error" ng-show="!validDuration">
        La duración mínima del evento debe ser de media hora.
      </div>

      <div class="button file-button">
        <span>Seleccionar portada</span>
        {{ form.cover }}
      </div>
      <br/>
      <div ng-show="showText()">
        <strong>Imagen de portada seleccionada: </strong>
        <span ng-bind="eventCover.name"></span>
      </div>
      <div class="form-error" ng-show="showMessage()">
        El archivo de portada que seleccionaste no es un archivo de imagen valido.
      </div>
      <button class="button submit-button" type="submit" ng-disabled="!validate()" name="Crear evento"> Crear evento </button>
    </form>
  </div>
{% endblock %}
